<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <% if(products.length > 0) { %>
    <ul>
            <% products.forEach(product => { %>
                <li>
                    <%= product.title %> - <%= product.price %> -
                    <a href="/update/product/<%= product.product_id %>"><button>Update Item</button></a> -
                    <a href="/delete/product/<%= product.product_id %>"><button>Delete Item</button></a>
                </li>
            <% }) %>
    </ul>
    <% } else { %>
        <p>No products available at the moment.</p>
    <% } %>
</body>
</html>